JSON Data

In [ ]:
obj = """{ 
  "accounting" : [   
                     { "firstName" : "John",  
                       "lastName"  : "Doe",
                       "age"       : 23 },

                     { "firstName" : "Mary",  
                       "lastName"  : "Smith",
                        "age"      : 32 }
                 ],                            
  "sales"      : [ 
                     { "firstName" : "Sally", 
                       "lastName"  : "Green",
                        "age"      : 27 },

                     { "firstName" : "Jim",   
                       "lastName"  : "Galley",
                       "age"       : 41 }
                 ] 
}

 """

In [ ]:
# It's going to give me string

type(obj)

str

# Dumping data in JSON

In [ ]:
import json
result = json.loads(obj)
type(result)


# Load for loading it into dict

dict

In [ ]:
asjson = json.dumps(result)
type(asjson)

# Dumps for dumping again in str

str

#### Dataframe

In [ ]:
import pandas as pd

In [ ]:
data = pd.DataFrame(result["accounting"], columns = ["firstName", "lastName", "age" ])
data.head()

  firstName lastName  age
0      John      Doe   23
1      Mary    Smith   32